



<div class="container">

  <div class="row">
    <div class="col-ms-12 col-md-6" *ngFor="let item of listarPeticion">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img [src]="item.image" alt="..." width="80%" height="100%">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{item.name}}e</h5>
              <div class="card-text">
                <div class="alert alert-primary" [ngClass]="{'alert-warning': item.gender === 'Male'}" >GENERO: {{item.gender | genero}}</div>
                <div class="alert alert-primary">ESPECIE: {{item.species}}</div>
              </div>
              <!-- <button type="button" class="btn btn-primary" >VER MAS</button> -->

              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="verMas(item)">
                VER MAS
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>    
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{unopersonaje.name}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img [src]="unopersonaje.image" alt="..." width="80%" height="60%">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{unopersonaje.name}}e</h5>
                      <div class="card-text">
                        <div class="alert alert-primary" [ngClass]="{'alert-warning': unopersonaje.gender === 'Male'}" >GENERO: {{unopersonaje.gender | genero}}</div>
                        <div class="alert alert-primary">ESPECIE: {{unopersonaje.species}}</div>
                        <div class="alert alert-primary">CREADO: {{unopersonaje.created}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

