<div id="login">
    <h3 class="text-center text-white pt-5">Login form</h3>
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">


                    <form id="login-form" class="form" action="" method="post" [formGroup]="validateForm">
                        <h3 class="text-center text-info">Login</h3>
                        <div class="form-group">
                            <label for="username" class="text-info">DNI:</label><br>
                            <input type="number" name="username" id="username" class="form-control" [class.is-invalid]="validateForm.get('dni').touched && validateForm.get('dni').invalid" formControlName="dni" maxlength="8">
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-info">CODIGO:</label><br>
                            <input type="password" name="password" id="password" class="form-control" [class.is-invalid]="validateForm.get('codigo').touched && validateForm.get('codigo').invalid" formControlName="codigo" maxlength="8">
                        </div>          
                        <button type="submit"   class="btn btn-primary mt-3" [disabled]="!validateForm.valid" (click)="enviar(validateForm.value)">INGRESAR</button>
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>