<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <h1 class="text-center text-uppercase">*ngIf</h1>
      <a class="btn btn-primary btn-sm " role="button" (click)="operacion()">MOSTAR </a>
      <div class="card" style="width:18rem;" *ngIf="mostar">
        <img
          src="https://images.unsplash.com/photo-1561154464-82e9adf32764?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted ">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          b5
        </div>
      </div>

    </div>
    <div class="col-sm-12 col-md-6">
      <h1 class="text-center text-uppercase">*ngFor </h1>
      <div class="alert alert-primary" *ngFor="let item of lista">{{item}}</div>

    </div>
  </div>
</div>

<div class="container">
  <div class="form-group">
    <label for="">NOMBRE</label>
    <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="" [(ngModel)]="nuevaPersona.nombre">
    <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
    <label for="">APELLIDOS</label>
    <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="" [(ngModel)]="nuevaPersona.apellido">
    <label for="">EDAD</label>
    <input type="number" class="form-control" name="" id="" aria-describedby="helpId" placeholder="" [(ngModel)]="nuevaPersona.edad">
  </div>
  <button type="button" name="" id="" class="btn btn-warning mt-4"  (click)="enviarmodel()">ENVIAR</button>
</div>
